.cards {
  display: flex;
  flex-wrap: wrap;

  &--full {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;

    & > * {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__products {
    display: flex;

    @media (min-width: 430px) {
      align-items: center;
    }

    & > * {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__subtitle,
  &__list {
    font-size: 14px;
  }

  &__subtitle {
    margin-bottom: 2px;
  }

  &__list {
    margin: 0 0 20px;
    padding-left: 5px;
    list-style-position: inside;
  }
}
