[id^='humm-widgets-cards'] {
  button,
  a {
    height: auto;
    line-height: normal;
  }
  div,
  dt,
  dd {
    line-height: normal;
    font-weight: normal;
    border: none;
    background: none;
  }
  p {
    margin: none;
  }
}
