[id^='humm-widgets-cards'] {
  button,
  a {
    height: auto;
    line-height: normal;
    outline: none;
    box-shadow: none;
  }
  div,
  dt,
  dd {
    line-height: normal;
    font-weight: normal;
    border: none;
    background: none;
    text-align: unset;
    white-space: unset;
  }
  strong {
    font-weight: bold;
  }
  li {
    list-style: unset;
  }
}
